.imgg {
    width: 1200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.vidik {
    width: 720;
    display: block;
    margin-left: auto;
    margin-right: auto;
}